<p>Hello %USER_NAME%, your booking has been successfully registered! Here are the details:</p>
<div class="details">
    <ul class="details-list">
        <li>Parking Spot: <span>%SPOT_NAME%</span></li>                        
        <li>Address: <span>%SPOT_ADDRESS%</span></li>
        <li>Parking Spot Owner: <span>%RESIDENT_NAME%</span></li>                        
        <li>Reservation Date: <span>%RESERVATION_DATE%</span></li>
        <li>Start Time: <span>%START_TIME%</span></li>
        <li>End Time: <span>%END_TIME%</span></li>
        <li>Plate Code: <span>%PLATE%</span></li>
        <li>Total Cost: <span>%TOT_COST%</span></li>
    </ul>                     
</div>
<p>Thank you for choosing us! We hope to see you soon again.</p>
<p style="font-weight: bolder;">The EZParking Team</p>