<div style="
    text-align: center;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
">

    <p style="margin: 0 0 18px 0;">
        Hi %USER_NAME%, you have received a new review from 
        <span style="color: #5e25a5; font-weight: 600;">%REVIEWER_NAME% %REVIEWER_SURNAME%</span> 
        for the parking spot 
        <span style="color: #5e25a5; font-weight: 600;">%SPOT_NAME%</span>!
        <br>
        Check it on your personal dashboard.
    </p>

    <p style="
        margin-top: 22px;
        font-weight: 600;
        font-size: 17px;
        color: #5e25a5;
    ">
        The EzParking Team 🚗
    </p>

</div>
