
.navbar {
    background: #5e25a5;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 2.5px solid white;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1000;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;    
    width: 100%;

}

#navbar__logo{
    color: #fff;
    background-size: 100%;
    background-clip: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Kumbh Sans',sans-serif;
}

#logo{
    width: 60%;
    height: 60%;
    margin-right: 1rem;
    border-radius: 50px;
}

.fa-gem{
    margin-right: 0.5rem;
}


.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  
}

.navbar__item{
    height: 80px;
}


.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}


.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

@media screen and (max-width:1024px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        max-width: 1024px;
        width: 100%;       
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top : -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #5e25a5;
    }

    .navbar__menu.active{
        background: #5e25a5;
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        height: 50vh;
        font-size: 1.6rem;
        z-index: 99;
        border-top: 2.5px solid white;
        border-bottom: 4px solid black;
        height: fit-content;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    #navbar__logo{
        padding-left: 25px;
    }

    #logo{
        margin-right: 0.5rem;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

   /* contenitore menu: voci in colonna */
    .navbar__menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    margin: 0;
    list-style: none;
    width: 100%;

    }

    /* ogni voce (li) - opzionale per controllo larghezza */
    .navbar__item {
    width: 100%;
    }

    /* link: grid con due colonne: immagine fissa e testo flessibile */
    .navbar__links {
    display: grid;
    grid-template-columns: 50px 1fr; /* 50px per l'icona, testo prende il resto */
    align-items: center;             /* centra verticalmente */
    gap: 12px;                       /* spazio tra icona e testo */
    color: #fff;
    text-decoration: none;
    padding: 0.25rem 0;
    width: 100%;
    box-sizing: border-box;
    }

    /* forza dimensione uniforme dell'immagine e gestione ritagli */
    .navbar__links img {
    width: 50px;
    height: 50px;
    object-fit: contain; /* mantiene proporzioni e centra l'icona nella cella */
    display: block;      /* rimuove spacing inline */
    margin: 0;
    align-self: center;
    }

    /* titolo testo */
    .navbar__links h3 {
    margin: 0;
    font-size: medium;
    line-height: 1.2;
    align-self: center;
    white-space: nowrap; 
    }



@media (max-width: 390px){
  .link-toggle { display: block; }
}

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    

    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 60px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;    
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;   
    }  

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    } 
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
footer {
    background: linear-gradient(135deg, #5e25a5, #7b3fd3);
    color: white;
    text-align: center;
    padding: 2rem;
    /*margin-top: 4rem;*/
    margin-top: auto;
    }

  footer p {
    font-size: 0.9rem;
  }

.leaflet-control-container {
    z-index: 1 !important;
}
.leaflet-top,
.leaflet-bottom {
    z-index: 1 !important;
}