.fc {
    padding: 3rem;
}

.calendar-container {
    width: 90%;
    margin: 4rem auto;
    padding: 0.5rem;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.fc-event {
    padding: 2px 4px;
    font-size: 18px;
    border-radius: 4px;
}

.fc-event-title,
.fc-event {
    white-space: normal !important;   
    overflow-wrap: break-word;        
    word-break: break-word;          
    line-height: 1.2;              
}   

.fc-list-day-cushion{
     font-size: 16px;
}

.fc-button-group{
     font-size: larger;
}
@media (min-width : 430px) and (max-width: 1024px){
     .calendar-container{ 
          width: 100%;    
          height: 100vh;
          overflow-x: scroll;
          padding: 1rem;
     }
     #calendar{
          /*min-width: 600px;*/
          height: 100%;
     }
     .fc-header-toolbar{
          font-size: 10px;
     }
     .fc{
          padding: 0.5rem;
     }
     .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
          margin-top: 0.1rem;
     }   
     .fc-event{font-size: 16px;}  
}
@media (min-width : 344px) and (max-width: 430px){
     .calendar-container{ 
          max-width: 95%;    
          height: 100vh;
          overflow-x: scroll;
          padding: 1rem;
     }
     #calendar{
          height: 100%;
     }
     .fc-header-toolbar{
          font-size: 10px;
     }
     .fc{
          padding: 0.5rem;
     }
     .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
          margin-top: 0.1rem;
     } 
     .fc-toolbar-title{
          margin: 0.5rem;
          text-align: center;
     }  
     .fc-event{font-size: 14px;}  
     .fc-list-day-cushion{
     font-size: 14px;
}
}