/* === GLOBAL === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans',sans-serif;
}

body {
  /*font-family: 'Poppins', sans-serif;*/
  background: linear-gradient(135deg, #f3ecff, #f6f4faff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* === LOGIN PAGE === */
.login-container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  width: 400px;
  text-align: center;
  margin: auto;
}

.input-group {
  margin-bottom: 1rem;
  text-align: left;
}

.login-input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(113,89,182);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: #5e25a5;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

@media (min-width:344px) and (max-width:500px) {
  .login-container {
    width: 90%;
    padding: 1.5rem;
  }
}

header {
      background: #5e25a5;
      border-bottom: 2.5px solid white;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      position: sticky;
      top: 0;
      z-index: 100;
    }

 

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(-5px);}
  to {opacity: 1; transform: translateY(0);}
}

